* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#div1 {
	/*margin is space generated outside of the element*/
	/*border is the space between ur margin and padding*/
	/*padding is space generated insdie the element between our border
	and our context */
	/*margins and paddings have 4 directions they 
	can be added at the top bottom left or right*/
	/*margin:<value> - adds margin on all sides */
	/*margin:  <topandbottom> <leftright>*/
	/*margin: <top> <left right> <bottom>*/
	/*margin: <top><right><bottom><left>*/
	/*margin: 10px 100px 25px 500px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
	/*without box-sizing or the default: 
		
		width is calculated like this: ;	
		
		2px left border + 20px left padding +150px width+20px right
		padding + 2px right border =199

		box-sizing:  content-box;
		box-sizing property allows us to determine how we
		calculate the size of elements.

	

	*/

	/* with box-sizing: ;
	width is calculated like this: ;
	2px left border+20px left padding +56 content width +20px
	right padding +2px right border =100px
	*/

	/*inline vs block vs inline-block
block will occupy the whole width of its parent therefore it breaks the line
however we can manipulate the height and width of our block element 

inline will only occupy the size of its content. You cant set the width and
the height of an inline element. This will then display elements beside each other.
	*/

	/*inline-block works almost like an inline element wherein it will not start on
	a new line and will put elements beside each other. However, with inline block
	you can set the width and the height*/

	/*vertical-align: top will allow us to align our items vertically from the top
	it is usually used in conjunction with inline-block elements

	*/
}

#div2 {
	border: 2px solid black;
	padding: 20px;
	background-color: orange;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

#span1 {
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}

/*pre-footer section*/

#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color: white;
}