body {
	font-family: "Open Sans", sans-serif;
}

/*css reset
	we reset the margins and paddings of our elements to better
	manipulate the sizes and layout of our elements.

	because browsers automatically adds margins and paddings by default
*/

*
	{
		margin:  0;
		padding: 0;
		box-sizing: border-box;
	}

nav {

	padding: 0.8rem; /*80% of our root element's font size =12.8*/
	margin-bottom:  2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/* "," - multiple selectors */
nav .nav, nav .nav-logo {

	margin: 0.5rem;
	/*display property you can change how elements are displayed as
	inline,block or even inline-block*/
	display: inline;
}

nav > ul {
	list-style-type: none;
}

/*intro section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {

	color: white;
	/*font-weight allows us to determine the thickness
	of the text */
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*info section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {

	display:  inline-block;
	vertical-align: top;
	/*sets a minimum height for our elements especially 
	if the content does not reach the appropriate height
	what will this do then is it will level our cards*/
	min-height: 175px;
	border: 1px solid black;
	/*each card is atleast 30% of its parents width
	3 cards would amount to supposedly 33.33% of its parent's width to be even,
	however we have to take account for the margins set*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

/*pre-footer section*/

#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color: white;
}
#pre-footer > div
	{
		vertical-align: top;
		display: inline-block;
		min-height: 175;
		width: 20%;

	}
#pre-footer > div > * {

	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}