* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	background-color: #272727;
}

#hotdogs img
	{
		display:  inline-block;
		vertical-align: top;
		min-height: 0.5rem;
		width: 30%;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
nav {
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: #90A9B7;
	font-size: 1rem;
	padding: 1rem;
	letter-spacing:  5px;
	text-align: center;

}
button{
	color: #272727;
	font-weight: bold;
	background-color: #D4AA7D#90A9B7;
	border-radius: 25px;
	font-size: 0.75rem;
	padding: 0.80rem;	
}

#hotdog {
	text-align: center;
	padding: 25px;
	background-color: #EFD09E;

}
#hotdog p {
	padding: 75px;
	font-weight: bold;
	background-color: #D4AA7D;
	text-transform: uppercase;
}

#title {
	text-align: center;
	background-color: #90A9B7;
	color: #272727;
}
#hotdogs1 {
	color: #D2D8B3;
	background-color: #272727;
	font-size: 100px;
	text-align: center;
}
#hotdogs2 {
	color: #D2D8B3;
	text-align: center;
	background-color: #272727;
	font-size: 100px;
}
#hotdogs3 {
	color: #D2D8B3;
	text-align: center;
	background-color: #272727;
	font-size: 100px;
}


section img
	{
	
		height: 100%;
		width: 100%;
		
	}
section {
	padding: 100px;
}